<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people/id}" th:object="${person}">
    <label for="fullName">Name</label>
    <!--В поле filed помещаем то, что будем задавать в форме
    Запись *{} говорит о том, что такое поле есть у передаваемого нами объекта-->
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <!--Если выполняется условие if, текстовое окно показывается, иначе - нет-->
    <div style="color:gray" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">error fullName</div>
    <br/>
    <label for="year">Year of birth</label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:gray" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">error year</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>